
.slick-slide img {
  height: auto;
}
.headingp4-slider{
  color: #5e5e5e;
}

.content {
  color: #5e5e5ecb;
  width: 280px;
  text-align: center;
  height: 260px;
  background-color: white;
  margin-top: 20px;
 
}

.btn:hover {
  background-color: #3b7fbf;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  border-radius: 100%;
}

.prev-btn,
.next-btn {
  background-color: white;
  color: #3b7fbf;
  border: 1px solid rgb(133, 128, 128);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #3b7fbf;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.custom-swiper-button-prev {
  left: -20px; /* Adjust as per design */
}

.custom-swiper-button-next {
  right: -20px; /* Adjust as per design */
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: white;
  color: #3b7fbf;
}

.slide {
  height: 400px;
  border-radius: 2px;
  
}

.slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 10px;
}

.slide-image img {
  max-height: 100%;
  object-fit: cover;
}


/* @media (max-width:767px){
  .slider-container{
    width: 100%;
  }
  .content{
    width: 80px;
    height: 500px;
    font-size: .8rem;
    text-align: center !important;
  }
  .slide{
    height: 700px;
  }
  .headingp4-slider{
    font-size: 1rem;
  }

} */

@media (min-width:768px) and (max-width:1024px){
  .slider-container{
    width: 90%;
  }
  .content{
    width: 270px;
    font-size: 1.2rem;
    text-align: center !important;
  }
  .slide{
    height: 480px;
  }
  .headingp4-slider{
    font-size: 1.3rem;
  }   
}