.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
}
.form-control{

    border: 1px solid rgba(128, 128, 128, 0.075) !important;
}

.form-select-with-icon {
    width: 100%;
    padding-right: 30px; /* Add space for icon */
}

.dropdown-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    font-size: 14px;
    color: #0000004b; /* Customize the color */
}
.btn-close{
    color: white!important;
    background-color: white !important;
    padding: 10px 20px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}
